
h1{
    margin-top: 0;
    margin-bottom: 0;
    color: aliceblue;
}
body{
    margin: 0;
}


.top-container{
    background-color: #820000;
    font-style: oblique;
    color: antiquewhite; 
    

    
}

.mid-container{
    background-color: tomato;
    width: 200px;
    height: 200px;
}

.bottom-container{
    background-color: greenyellow;
    width: 200px;
    height: 200px;
}