
h1{
    margin: 50px auto 0px auto;
    font-family: 'Sacramento', cursive;
    font-size: 5.62rem;
    color: #66BFBF;
    line-height: 2;

}
body{
    margin: 0;
    text-align: center;
    font-family:'Merriweather', serif;

}

h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 2.5rem;
    color: #66BFBF;
    font-weight: normal;


}

h3{
    font-family: 'Montserrat', sans-serif;
    color: #11999E;


}


.top-container{
    background-color: #E3FDFD;
    position: relative;
    padding-top: 100px;

}


.top-cloud{
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.footer-link{
    color: #11999E;
}
